asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.4
django-admin-honeypot-blag==1.2.0
django-admin-honeypot-updated-2021==1.2.0
django-ipware==7.0.1
django-jazzmin==3.0.0
django-session-timeout==0.1.0
idna==3.7
marshmallow==3.17.0
packaging==24.0
pillow==10.3.0
psycopg==3.1.18
psycopg2-binary==2.9.9
python-http-client==3.3.7
python-ipware==3.0.0
requests==2.32.3
sendgrid==3.6.5
sendgrid-django==4.2.0
six==1.16.0
sqlparse==0.4.4
transbank-sdk==5.0.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
